.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.searchInput {
  width: 97.5%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pokemonList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.pokemonCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.pokemonImage {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.pokemonName {
  text-transform: capitalize;
}

.loadMoreButton {
  display: block;
  margin: 20px 0rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.darkModeButton {
  display: block;
  margin: 20px 0rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #404d56;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.darkMode .darkModeButton,
.lightMode .darkModeButton {
  background-color: #404d56;
  color: #fff;
}

.darkMode .title {
  color: #fff;
}

.darkMode .searchInput {
  background-color: #404d56;
  color: #fff;
  border-color: #fff;
}

.darkMode .pokemonCard {
  background-color: #404d56;
  color: #fff;
  border-color: #fff;
}

.lightMode .darkModeButton {
  background-color: #fff;
  color: #404d56;
}

.lightMode .searchInput {
  background-color: #fff;
  color: #404d56;
}

.lightMode .pokemonCard {
  background-color: #fff;
  color: #404d56;
}

.darkMode .loadMoreButton,
.lightMode .loadMoreButton {
  background-color: #404d56;
  color: #fff;
}
